#App {
  text-align: center;
}

.addStudentForm {
  text-align: center;
}

.card {
  width: 30rem;
  text-align: center;
  margin: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
